#content {
  font-family: monospace;
  line-height: 10px;
}

.ansi-black-fg {
  color: rgb(0, 0, 0);
}
.ansi-red-fg {
  color: rgb(187, 0, 0);
}
.ansi-green-fg {
  color: rgb(0, 187, 0);
}
.ansi-yellow-fg {
  color: rgb(187, 187, 0);
}
.ansi-blue-fg {
  color: rgb(0, 0, 187);
}
.ansi-magenta-fg {
  color: rgb(187, 0, 187);
}
.ansi-cyan-fg {
  color: rgb(0, 187, 187);
}
.ansi-white-fg {
  color: rgb(187, 187, 187);
}
.ansi-bright-black-fg {
  color: rgb(85, 85, 85);
}
.ansi-bright-red-fg {
  color: rgb(255, 85, 85);
}
.ansi-bright-green-fg {
  color: rgb(0, 255, 0);
}
.ansi-bright-yellow-fg {
  color: rgb(255, 255, 85);
}
.ansi-bright-blue-fg {
  color: rgb(85, 85, 255);
}
.ansi-bright-black-fg {
  color: rgb(85, 85, 85);
}
.ansi-bright-magenta-fg {
  color: rgb(255, 85, 255);
}
.ansi-bright-cyan-fg {
  color: rgb(85, 255, 255);
}
.ansi-bright-white-fg {
  color: rgb(210, 210, 210);
}

.ansi-black-bg {
  background-color: rgb(0, 0, 0);
}
.ansi-red-bg {
  background-color: rgb(187, 0, 0);
}
.ansi-green-bg {
  background-color: rgb(0, 187, 0);
}
.ansi-yellow-bg {
  background-color: rgb(187, 187, 0);
}
.ansi-blue-bg {
  background-color: rgb(0, 0, 187);
}
.ansi-magenta-bg {
  background-color: rgb(187, 0, 187);
}
.ansi-cyan-bg {
  background-color: rgb(0, 187, 187);
}
.ansi-white-bg {
  background-color: rgb(255, 255, 255);
}
.ansi-bright-black-bg {
  background-color: rgb(85, 85, 85);
}
.ansi-bright-red-bg {
  background-color: rgb(255, 85, 85);
}
.ansi-bright-green-bg {
  background-color: rgb(0, 255, 0);
}
.ansi-bright-yellow-bg {
  background-color: rgb(255, 255, 85);
}
.ansi-bright-blue-bg {
  background-color: rgb(85, 85, 255);
}
.ansi-bright-black-bg {
  background-color: rgb(85, 85, 85);
}
.ansi-bright-magenta-bg {
  background-color: rgb(255, 85, 255);
}
.ansi-bright-cyan-bg {
  background-color: rgb(85, 255, 255);
}
.ansi-bright-white-bg {
  background-color: rgb(255, 255, 255);
}
